.container{
    max-width: 960px;
    color: #000;
    margin: auto;
}

.container form {
    width: 100%;
}

.access-wrap, .className-wrap, .required-wrap, .placeholder-wrap, .rows-wrap, .name-wrap, .maxlength-wrap, .other-wrap {
    display:none;
}
/*.fb-radio .form-group .field-radio-group-1*/
.fb-radio .radio-group *{
   max-width: 15%;
}

.rendered-form input {
  line-height:none; 
}

/*.form-group{
    width: 100%;
}

.radio-group{
    width: 100%;
}

.container form .radio-group *, .fbRadioGroup {
    max-width: 20%;
}

#fb-editor{
    max-width: 940px;
}

#button-valider{
    width: 100px;
    margin-top: 30px;
}*/
